
/* entire container, keeps perspective */
.points-container {
	perspective: 600px;
	position: absolute;
	background: red;
	
}
	/* points the pane when hovered */
	.points-container:hover {
		transform: rotateY(180deg);
	}
 
.points-container, .frontcard, .backcard {
	top: 450px;
	left: 1200px;
	width: 700px;
	height: 455px;
}

/* points speed goes here */
.points {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.frontcard, .backcard {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.frontcard {
	z-index: 2;
	 /*for firefox 31*/ 
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.backcard {
	transform: rotateY(180deg);
}